.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 32px;
}

@media (max-width: 640px) {
  .cover__title {
    width: calc(100vw - 32px);
    margin-bottom: 5vw;
    font-size: 10vw;
    line-height: calc(10vw + 3px);
  }
}
